title: Infectious Diseases Toolkit
# this appears in the html browser tab for the site title (seen mostly by search engines, not users)

description: "Find tools and guidelines to help you access, analyse and share infectious disease data, and respond quickly to disease outbreaks."
# Metadata description of the website

remote_theme: ELIXIR-Belgium/elixir-toolkit-theme@1.23.0

gtag: G-TNT17YGXQ4

theme_variables:
  privacy_statement_url: /about/privacy
  theme_color: da366e
  topnav:
    brand_logo: assets/img/main_logo.png
  fonts:
    - https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap

exclude:
  - README.md
  - .gitignore
  - var/
  - vendor
  - Gemfile*
  - LICENSE

permalink: /:categories/:year/:month/:day/:title

defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
      sidebar: main
  -
    scope:
      path: "about"
      type: "pages"
    values:
      sidebar: about
  -
    scope:
      path: "contribute"
      type: "pages"
    values:
      sidebar: contribute
  -
    scope:
      path: "pathogen-characterisation"
      type: "pages"
    values:
      type: pathogen_characterisation

  -
    scope:
      path: "socioeconomic-data"
      type: "pages"
    values:
      type: socioeconomic_data
    
  -
    scope:
      path: "human-clinical-and-health-data"
      type: "pages"
    values:
      type: human_clinical_and_health_data

  -
    scope:
      path: "human-biomolecular-data"
      type: "pages"
    values:
      type: human_biomolecular_data

  -
    scope:
      path: "showcase"
      type: "pages"
    values:
      type: showcase

  -
    scope:
      path: "national-resources"
      type: "pages"
    values:
      type: national_resources

  -
    scope:
      path: "showcase/TEMPLATE-showcase.md"
      type: "pages"
    values:
      sitemap: false
      search_exclude: true
      no_robots: true

  -
    scope:
      path: "TEMPLATE-page.md"
      type: "pages"
    values:
      sitemap: false
      search_exclude: true
      no_robots: true

  -
    scope:
      path: "national-resources/TEMPLATE_resources.md"
      type: "pages"
    values:
      sitemap: false
      search_exclude: true
      no_robots: true
plugins:
  - jemoji
  - jekyll-sitemap
  - jekyll-github-metadata
