title: Infectious Diseases Toolkit
# this appears in the html browser tab for the site title (seen mostly by search engines, not users)

topnav_title: Infectious Diseases Toolkit
# this appears on the top navigation bar next to the home button

description: ""
# Metadata description of the website

# gtag: G-RXQ55EFTTH
# Google analytics tag

remote_theme: ELIXIR-Belgium/elixir-toolkit-theme@1.19.1

theme_variables:
  theme_color: da366e
  fonts:
    - https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap

exclude:
  - README.md

permalink: /:categories/:year/:month/:day/:title

defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
      sidebar: main
  -
    scope:
      path: "about"
      type: "pages"
    values:
      sidebar: about
  -
    scope:
      path: "contribute"
      type: "pages"
    values:
      sidebar: contribute
  -
    scope:
      path: "pathogen_characterisation"
      type: "pages"
    values:
      type: pathogen_characterisation

  -
    scope:
      path: "social_and_economic_impact"
      type: "pages"
    values:
      type: social_and_economic_impact
    
  -
    scope:
      path: "human_clinical_and_health_data"
      type: "pages"
    values:
      type: human_clinical_and_health_data

  -
    scope:
      path: "human_biomolecular_data"
      type: "pages"
    values:
      type: human_biomolecular_data

  -
    scope:
      path: "showcase"
      type: "pages"
    values:
      type: showcase

  -
    scope:
      path: "national_resources"
      type: "pages"
    values:
      type: national_resources

plugins:
  - jemoji
  - jekyll-sitemap
  - jekyll-github-metadata
