# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/contribute        @rabuono

# Different Sections
/data-analysis        @elixir-europe/idtk-editors
/data-communication        @elixir-europe/idtk-editors
/data-description        @elixir-europe/idtk-editors
/data-sources        @elixir-europe/idtk-editors
/ethical-legal-and-social-issues        @elixir-europe/idtk-editors
/provenance        @elixir-europe/idtk-editors
/quality-control        @elixir-europe/idtk-editors

#About
/about        @rabuono @elixir-europe/idtk-editors

#Theme
/assets        @bedroesb

# Sidebar and other
/_data      @bedroesb

# Tool and resources
/_data/tool*     @bedroesb

