# This is a comment.
# Each line is a file pattern followed by one or more owners.

# General website
*       @bedroesb

# Contribute
/contribute        @rabuono

# Different Sections
/human-biomolecular-data        @elixir-europe/idtk-editors
/human-clinical-and-health-data        @elixir-europe/idtk-editors
/pathogen-characterisation        @elixir-europe/idtk-editors
/socioeconomic-data        @elixir-europe/idtk-editors
/national-resources        @elixir-europe/idtk-editors
/showcase        @elixir-europe/idtk-editors

#About
/about        @rabuono @elixir-europe/idtk-editors

#Theme
/assets        @bedroesb

# Sidebar and other
/-data      @bedroesb

# Tool and resources
/-data/tool*     @bedroesb

